name: Unit Tests

on:
  workflow_dispatch:
  pull_request:
    branches: [ main, develop ]
  push:
    branches: [ main, develop ]

jobs:
  test:
    name: Run Unit Tests
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Select Xcode version
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

    - name: Install Tuist
      run: brew install tuist

    - name: Generate project with Tuist
      run: tuist generate

    - name: Install SwiftGen
      run: brew install swiftgen

    - name: Run SwiftGen
      run: swiftgen config run --config swiftgen.yml

    - name: Show all simulators
      run: xcrun simctl list devices

    - name: Run tests
      run: |
        set -o pipefail && xcodebuild test \
          -workspace CurrencyConverter.xcworkspace \
          -scheme CurrencyConverter \
          -destination "platform=iOS Simulator,name=iPhone 16" \
          | tee xcodebuild.log

    - name: Upload build logs on failure
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: build-logs
        path: xcodebuild.log
