name: Unit Tests

on:
  workflow_dispatch:
  pull_request:
    branches: [ main, develop ]
  push:
    branches: [ main, develop ]

jobs:
  test:
    name: Run Unit Tests
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Select Xcode version
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

    - name: Install Homebrew dependencies
      run: |
        brew install tuist
        brew install swiftgen

    - name: Generate Xcode project with Tuist
      run: tuist generate

    - name: Create Generated folder (SwiftGen output)
      run: mkdir -p CurrencyConverter/Sources/Generated

    - name: Run SwiftGen
      run: swiftgen config run --config swiftgen.yml

    - name: Show available simulators
      run: xcrun simctl list devices

    - name: Run Unit Tests on stable iPhone 14 simulator
      run: |
        set -o pipefail && xcodebuild test \
          -workspace CurrencyConverter.xcworkspace \
          -scheme CurrencyConverter \
          -destination "platform=iOS Simulator,name=iPhone 14" \
          | tee xcodebuild.log

    - name: Upload build logs if failed
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: xcodebuild-log
        path: xcodebuild.log
