name: Unit Tests

on:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: macos-15

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_16.2.app

    - name: Install SwiftGen
      run: brew install swiftgen

    - name: Create Generated folder
      run: mkdir -p CurrencyConverter/Sources/Generated

    - name: Run SwiftGen
      run: swiftgen config run --config swiftgen.yml

    - name: Install Tuist
      run: curl -Ls https://install.tuist.io | bash

    - name: Tuist generate
      run: tuist generate --no-open

    - name: Build and Test
      run: |
        xcodebuild \
          -scheme CurrencyConverter \
          -project CurrencyConverter.xcodeproj \
          -destination 'platform=iOS Simulator,name=iPhone 16 Pro,OS=18.1' \
          clean test \
          | tee xcodebuild.log \
          | xcbeautify

    - name: Upload Logs
      uses: actions/upload-artifact@v4
      with:
        name: xcode-logs
        path: xcodebuild.log
