name: Unit Tests

on:
  workflow_dispatch:
  pull_request:
    branches: [ main, develop ]
  push:
    branches: [ main, develop ]

jobs:
  test:
    name: Run Unit Tests
    runs-on: macos-latest

    steps:
      # 1. Клонируем репозиторий
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Устанавливаем Xcode
      - name: Select Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      # 3. Устанавливаем Tuist и SwiftGen через Homebrew
      - name: Install Homebrew dependencies
        run: |
          brew install tuist
          brew install swiftgen

      # 4. Генерируем Xcode проект через Tuist
      - name: Generate Xcode project with Tuist
        run: tuist generate

      # 5. Создаём папку для SwiftGen (если её нет)
      - name: Create Generated folder for SwiftGen
        run: mkdir -p CurrencyConverter/Sources/Generated

      # 6. Запускаем SwiftGen с проверкой конфигурации
      - name: Run SwiftGen
        run: |
          swiftgen config lint --config swiftgen.yml
          swiftgen config run --config swiftgen.yml

      # 7. Показываем список доступных симуляторов (для дебага)
      - name: Show available simulators
        run: xcrun simctl list devices available

      # 8. Запускаем тесты на подходящем симуляторе
      - name: Run Unit Tests on iPhone 16 Pro (iOS 18.6)
        run: |
          set -o pipefail && xcodebuild test \
            -workspace CurrencyConverter.xcworkspace \
            -scheme CurrencyConverter \
            -destination "platform=iOS Simulator,name=iPhone 14"
            -enableCodeCoverage YES \
            | tee xcodebuild.log

      # 9. Загружаем логи, если тесты упали
      - name: Upload build logs if failed
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: xcodebuild-log
          path: xcodebuild.log
