name: Unit Tests

on:
  workflow_dispatch:
  pull_request:
    branches: [ main, develop ]
  push:
    branches: [ main, develop ]

jobs:
  test:
    name: Run Unit Tests
    runs-on: macos-latest

    steps:
      # 1. Клонируем репозиторий
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Устанавливаем Xcode
      - name: Select Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      # 3. Устанавливаем Homebrew зависимости
      - name: Install dependencies
        run: |
          brew install tuist
          brew install swiftgen

      # 4. Генерация проекта через Tuist
      - name: Generate Xcode project with Tuist
        run: tuist generate

      # 5. Создаём папку для SwiftGen (если её нет)
      - name: Create Generated folder
        run: mkdir -p CurrencyConverter/Sources/Generated

      # 6. Генерация кода SwiftGen
      - name: Run SwiftGen
        run: |
          swiftgen config lint --config swiftgen.yml
          swiftgen config run --config swiftgen.yml

      # 7. Показываем все симуляторы
      - name: List simulators
        run: xcrun simctl list devices

      # 8. Находим первый доступный iPhone
      - name: Select available simulator
        id: select_sim
        run: |
          DEVICE=$(xcrun simctl list devices available | grep -m1 "iPhone" | sed -E 's/.*\(([^)]+)\).*/\1/')
          echo "Device found: $DEVICE"
          echo "UDID=$DEVICE" >> $GITHUB_OUTPUT

      # 9. Запускаем тесты на найденном устройстве
      - name: Run Unit Tests
        run: |
          set -o pipefail && xcodebuild test \
            -workspace CurrencyConverter.xcworkspace \
            -scheme CurrencyConverter \
            -destination "id=${{ steps.select_sim.outputs.UDID }}" \
            -enableCodeCoverage YES \
            | tee xcodebuild.log

      # 10. Загружаем логи, если тесты упали
      - name: Upload logs if failed
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: xcodebuild-log
          path: xcodebuild.log
