name: Unit Tests

on:
  workflow_dispatch:
  pull_request:
    branches: [ main, develop ]
  push:
    branches: [ main, develop ]

jobs:
  test:
    name: Run Unit Tests
    runs-on: macos-15

    steps:
      # 1. Checkout
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Install Xcode 15.4 (стабильный и поддерживаемый GitHub)
      - name: Select Xcode version
        run: sudo xcode-select -s /Applications/Xcode_15.4.app

      # 3. Install dependencies
      - name: Install Homebrew dependencies
        run: |
          brew install tuist
          brew install swiftgen

      # 4. Generate project via Tuist
      - name: Generate Xcode project with Tuist
        run: tuist generate

      # 5. Create SwiftGen output directory
      - name: Create Generated folder
        run: mkdir -p CurrencyConverter/Sources/Generated

      # 6. Run SwiftGen
      - name: Run SwiftGen
        run: |
          swiftgen config lint --config swiftgen.yml
          swiftgen config run --config swiftgen.yml

      # 7. List all simulators (для дебага)
      - name: List simulators
        run: xcrun simctl list devices

      # 8. Run Unit Tests on fixed stable simulator
      - name: Run Unit Tests
        run: |
          set -o pipefail && xcodebuild test \
            -workspace CurrencyConverter.xcworkspace \
            -scheme CurrencyConverter \
            -destination "platform=iOS Simulator,name=iPhone 14,OS=17.4" \
            -enableCodeCoverage YES \
            | tee xcodebuild.log

      # 9. Upload logs if failed
      - name: Upload logs if failed
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: xcodebuild-log
          path: xcodebuild.log
