name: Unit Tests

on:
  workflow_dispatch:
  pull_request:
    branches: [ main, develop ]
  push:
    branches: [ main, develop ]

jobs:
  test:
    name: Run Unit Tests
    runs-on: macos-15

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Select Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 'latest-stable'

      - name: Install Tuist via Homebrew
        run: brew install --cask tuist

      - name: Generate Xcode project with Tuist
        run: tuist generate

      - name: Trust SwiftLint plugin
        run: |
          defaults write com.apple.dt.Xcode IDESkipPackagePluginFingerprintValidatation -bool YES

      - name: Run Unit Tests
        run: |
          set -o pipefail && xcodebuild test \
            -workspace CurrencyConverter.xcworkspace \
            -scheme CurrencyConverter \
            -destination 'platform=iOS Simulator,name=iPhone SE (3rd generation),OS=18.5' \
            -enableCodeCoverage YES \
            | tee xcodebuild.log
      - name: Upload logs if failed
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: xcodebuild-log
          path: xcodebuild.log
